* {
    margin: 0;
    padding: 0;
}

.body {

    font-family: "Montserrat";
}


.container {
    width: 1366px;
    margin: 0 auto;

}

.content {
    min-height: calc(100vh - 384px);

}

.footer {
    height: 384px;
    background-color: #f7f7f7;

}

.site__top {
    height: 360px;
    background-color: #f5f5f5;
}

.header {
    display: flex;
    justify-content: space-between;

}

.site-padding {
    padding-right: 98px;
    padding-left: 98px;
}

.menu {
    display: flex;
    list-style: none;
    padding-top: 63px;
}

.menu__link {
    text-decoration: none;
    margin-right: 5px;
    margin-left: 5px;
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 300;
    line-height: 48px;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    font-family: 'Montserrat', sans-serif;
    border-bottom: 2px solid transparent;
    
}

.logo {
    padding-top: 63px;
}

.menu__link:hover {
    color: #212121;
    font-weight: 700;
    letter-spacing: 1.4px;
    border-bottom: 2px solid #212121;
}

.site__top_h1 {
    width: 575px;
    height: 58px;
    color: #212121;
    font-family: "Montserrat";
    font-size: 62px;
    font-weight: 100;
    line-height: 72px;
    margin-top: 110px;
    margin-left: 90px;
}

.galery {
    height: 1965px;
}

.galery__menu {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    list-style: none;
    margin-top: 120px;
    margin-right: 107px;
    margin-left: 118px;
}

.galery__menu_link_new {
    color: #6c6c6c;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;

    letter-spacing: 1.8px;
    letter-spacing: 1.8px;
    margin-right: 30px;
    border-bottom: 1px solid #6c6c6c;
}

.galery__menu_link_new:hover {

    color: #212121;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 700;
    border-bottom: 4px solid #212121;
    padding-right: 15px;
}

.galery__img {
    padding-top: 64px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.galery__images_item {
    margin: 1px 15px;
    margin-bottom: 30px;
}

.reload {
    display: flex;
    justify-content: center;
    margin-top: 71px;
}


.exclusive {
    display: flex;
}

.exclusive_half_first {
    margin-right: 1px;
    height: 683px;
    background-image: url(../img/promo-img1.jpg);
    width: 683px;
}

.exclusive_half_second {

    height: 683px;
    background-image: url(../img/promo-img.jpg);
    width: 683px;
}


.exclusive__text_above {
    padding-top: 186px;
    width: 115px;
    height: 13px;
    color: #1e88e5;

    font-family: "Montserrat";
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;


    letter-spacing: 1.8px;
    padding-left: 51px;

}

.exclusive__h2 {
    width: 236px;
    height: 28px;
    color: #212121;
    font-family: "Montserrat";
    font-size: 36px;
    font-weight: 700;
    padding-top: 24px;
    padding-left: 52px;
    letter-spacing: -3px;
}

.exclusive__text_info {
    width: 332px;
    height: 36px;
    color: #6c6c6c;
    font-family: "Montserrat"   ;
    font-size: 14px;
    font-weight: 300;
    line-height: 24.04px;
    padding-top: 24px;
    padding-left: 50px;
}

.exclusive__button {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #212121;
    letter-spacing: 3.6px;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    border-radius: 23px;
    background-color: #ffffff;
    padding: 10px 30px;
    text-decoration: none;
    display: inline-block;
    margin-top: 40px;
    margin-left: 50px;
    font-family: "Montserrat";
}

.exclusive__button:hover {
    background-color: #f9f9f9;
}

.exclusive__button:active {
    box-shadow: 0 0 5px 1px rgba(33, 33, 33, 0.35);
    position: relative;
    top: 2px;
}


.footer__contact_us {
    padding-top: 120px;
    margin-left: 99px;
    width: 132px;
    height: 13px;
    color: #6c6c6c;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;

    letter-spacing: 1.8px;
}

.footer__adress {
    margin-top: 24px;
    margin-left: 97px;
    color: #212121;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
}

.footer__telefon {
    margin-top: 24px;
    margin-left: 97px;
    color: #212121;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
}

.footer__info {
    width: 422px;
    margin-right: 50px;
    margin-bottom: 15px;

}

.footer__info_info {
    padding-top: 65px;
    margin-left: 78px;
    display: flex;
    width: 237px;
    height: 13px;
    color: #6c6c6c;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;

    letter-spacing: 1.8px;

}

.footer__all {
    margin-left: 78px;
    margin-top: 25px;
    width: 132px;
    height: 62px;
    color: #212121;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;

    letter-spacing: 0.7px;
}

.footer__all_right {
    margin-left: 110px;
    margin-top: 25px;
    width: 132px;
    height: 62px;
    color: #212121;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;

    letter-spacing: 0.7px;


}

.footer_nav {
    display: flex;
}

.footer__all_link:active,
.footer__all_link:hover,
.footer__all_link {
    text-decoration: none;
    color: #212121;
}

.footer__intouch {
    padding-top: 120px;
    margin-left: 120px;
    margin-right: 105px;

}

.footer__intouch_h4 {
    color: #6c6c6c;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;

    letter-spacing: 1.8px;
}

.footer__intouch_subscribe {
    margin-top: 12px;
    color: #212121;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
}

.footer__copyright {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.email_img {
    margin-top: 26px;
    width: 340px;
    height: 48px;
}

.footer-first {
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.footer__copyright {
    margin-top: 30px;
    margin-left: 30px;
}

.copyright {
    color: #6c6c6c;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;

    letter-spacing: 0.6px;
    
}



.terms {
    color: #6c6c6c;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    margin-right: 50px;
}

input[placeholder] {
    padding: 0 15px;
    color: #6c6c6c;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
}



input.icon {
    background: url(../img/.jpg) no-repeat 330px 15px;
    
    
    
    

}

.img__logo {
    width: 28px;
    height: 28px;
    
}

.social__link {
    margin-right: 5px;
}

.social__links {
    padding-right: 30px;
}

.galerie__small_img {
    border: 2px solid transparent;
}

.galerie__small_img:hover {
    border: 2px solid #333;
    
    
    
  
}

.menu__link_a {
    text-decoration: none;
}

.menu__link_a:link {
    color: #8c8c8c;
}

.menu__link_a:visited {
    color: #8c8c8c;
}

.menu__link_a:hover {
    color: #212121;
    font-weight: 700;
    letter-spacing: 1.4px;
    
}

.galery__images_item {
    border: 2px solid transparent;
}

.galery__images_item:hover {
    border: 2px solid black;
}