* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;

}

.container {
    width: 1366px;
    margin: 0 auto;
}

.slider {
    height: 800px;
    background-image: url(../img/slider-img.jpg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 19px;
    box-sizing: border-box;

}

.site-padding {
    padding-right: 98px;
    padding-left: 98px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-top: 67px;

}

.menu__link {
    text-decoration: none;
    margin-right: 5px;
    margin-left: 5px;
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 300;
    line-height: 48px;
    text-transform: uppercase;
    letter-spacing: 1.4px;




}

.logo {
    padding-top: 63px;
}

.slider__text_above {
    color: #43a047;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    color: #43a047;
    letter-spacing: 1.8px;
}

.slider__h2 {
    color: #212121;
    font-size: 62px;
    font-weight: 250;
    line-height: 72px;
    text-transform: uppercase;
    letter-spacing: -3px;
    word-spacing: 15px;

}

.slider__text_info {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    width: 458px;
    height: 38px;
}

.search {
    padding-top: 14px;
    padding-right: 69px;
}

.button {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #212121;
    letter-spacing: 3.6px;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    border-radius: 23px;
    background-color: #ffffff;
    padding: 10px 30px;
    text-decoration: none;
    display: inline-block;
    margin-top: 40px;
    width:300px;
}

.menu__link:hover {
    color: #212121;
    font-weight: 700;
    letter-spacing: 1.4px;
    border-bottom: 2px solid #212121;
}

.slider__circle {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #212121;
    opacity: 0.2;
    margin-left: 5px;
    margin-right: 5px;
}

.slider__pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider__circle_active {
    width: 40px;
    height: 40px;
    opacity: 1;
}

.featured {
    height: 609px;
}

.featured__menu {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    list-style: none;
    margin-top: 120px;
    margin-right: 107px;
    margin-left: 118px;
}

.featured__menu_side {
    padding-top: 18px;
    padding-right: 80px;
    color: #212121;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 3.6px;
    margin-left: auto;
}

.featured__menu_link_new:hover {
    flex-basis: 158px;
    color: #212121;
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 700;
    border-bottom: 4px solid #212121;
    padding-right: 15px;
}

.featured__menu_link_new {
    flex-basis: 80px;
    padding-left: 5px;
    color: #6c6c6c;
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 700;
    border-bottom: 1px solid #6c6c6c;
}


.featured__goods_img {
    margin-right: 15px;
    margin-left: 15px;
}

.exclusive {
    display: flex;
}

.exclusive_half_first {
    margin-right: 1px;
    height: 683px;
    background-image: url(../img/promo-img1.jpg);
    width: 683px;
}

.exclusive_half_second {

    height: 683px;
    background-image: url(../img/promo-img.jpg);
    width: 683px;
}

.trending__products {
    height: 1108px;
}

.trending__products_nav {
    display: flex;
    justify-content: space-between;
}

.trending__products_explore {
    text-decoration: none;
    padding-right: 118px;
    padding-top: 137px;
    width: 158px;
    height: 13px;
    color: #212121;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 0px;
}

.trending__h2 {
    width: 331px;
    height: 35px;
    color: #212121;
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 700;
    padding-left: 98px;
    padding-top: 119px;
    letter-spacing: -3px;
}

.trending__images {
    padding-top: 64px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;


}

.trending__images_item {

    margin: 1px 15px;
    margin-bottom: 30px;
}

.deal {
    height: 800px;
    background-image: url(../img/slider.jpg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 19px;
    box-sizing: border-box;
}

.deal__text {
    padding-top: 287px;
}

.deal__text_above {
    width: 105px;
    height: 13px;
    color: #e53935;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    letter-spacing: 1.8px;
}

.deal__h2 {
    color: #212121;
    font-size: 62px;
    font-weight: 250;
    line-height: 72px;
    text-transform: uppercase;
    letter-spacing: -3px;
    word-spacing: 15px;
    padding-top: 22px;
}

.deal__text_info {
    width: 458px;
    height: 38px;
    color: #6c6c6c;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
}

.deal__pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.deal__circle {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #212121;
    opacity: 0.2;
    margin-left: 5px;
    margin-right: 5px;
}

.deal__circle_active {
    width: 40px;
    height: 40px;
    opacity: 1;
}

.featured__goods_example {
    width: 270px;
    height: 270px;
    border: 1px solid #9c9c9c;
    background-color: #ffffff;
    opacity: 0.9;
}

.galerie {
    height: 810px;
    display: flex;
    justify-content: center;
    padding-right: 400px;


}

.galerie__big {
    width: 570px;
    height: 570px;  
    margin-top: 120px;
    background-image: url(../img/product-1-lg.jpg);

}

.galerie__small {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 120px;
    


}

.galerie__small_item {
    margin-left: 30px;
    
}

.galerie__small_img {
    margin-bottom: 25px;
}

.galerie__text_above {
    padding-top: 186px;
    width: 115px;
    height: 13px;
    color: #1e88e5;

    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;


    letter-spacing: 1.8px;
    padding-left: 31px;
}

.galerie__h2 {
    width: 236px;
    height: 28px;
    color: #212121;
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 700;
    padding-top: 24px;
    padding-left: 32px;
    letter-spacing: -3px;
}

.galerie__text_info {
    width: 332px;
    height: 36px;
    color: #6c6c6c;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    line-height: 24.04px;
    padding-top: 24px;
    padding-left: 30px;

}

.galerie__button {
    margin-left: 30px;
    letter-spacing: 3.6px;
}

.arrow {
    padding-left: 12px;

}



.exclusive__text_above {
    padding-top: 186px;
    width: 115px;
    height: 13px;
    color: #1e88e5;

    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;


    letter-spacing: 1.8px;
    padding-left: 51px;

}

.exclusive__h2 {
    width: 236px;
    height: 28px;
    color: #212121;
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 700;
    padding-top: 24px;
    padding-left: 52px;
    letter-spacing: -3px;
}

.exclusive__text_info {
    width: 332px;
    height: 36px;
    color: #6c6c6c;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    line-height: 24.04px;
    padding-top: 24px;
    padding-left: 50px;
}

.exclusive__button {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #212121;
    letter-spacing: 3.6px;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    border-radius: 23px;
    background-color: #ffffff;
    padding: 10px 30px;
    text-decoration: none;
    display: inline-block;
    margin-top: 40px;
    margin-left: 50px;
}

.arrow__button {
    width: 48px;
    height: 48px;
    border: 1px solid #ffffff33;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    border-radius: 24px;
    background-color: #ffffff33;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 111px;
    margin-top: 0px;
    margin-right: 110px;
    margin-bottom: 20px;
}

.arrow_button_img {
    width: 15px;
}

.featured__goods_h3 {
    margin-top: 19px;
    text-align: center;
    width: 145px;
    height: 17px;
    color: #212121;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 700;
    line-height: 29.88px;
    margin-left: 53px;
    letter-spacing: -1px
}

.featured__goods_text {
    text-align: center;
    margin-left: 20px;
    margin-top: 15px;
    color: #6c6c6c;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    line-height: 21.91px;
    margin-right: 32px;
}

.mobile {
    height: 516px;
    background-image: url(../img/back-img.png);
}

.mobile__text_above {
    width: 128px;
    height: 13px;
    color: #6c6c6c;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    padding-top: 125px;
    margin-left: 101px;
}

.mobile__h2 {
    width: 407px;
    height: 116px;
    color: #212121;
    font-family: Montserrat;
    font-size: 62px;
    font-weight: 100;
    line-height: 72px;
    text-transform: uppercase;
    margin-left: 106px;
    margin-top: 22px;
    letter-spacing: -3px;
}

.mobile__text_info {
    width: 413px;
    height: 21px;
    color: #6c6c6c;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 300;
    line-height: 24px;
    margin-top: 28px;
    margin-left: 103px;
    font-weight: 500;
}

.mobile__images {
    margin-left: 102px;
    margin-top: 33px;
}

.footer {
    height: 384px;
    background-color: #f7f7f7;
}

.footer__contact_us {
    padding-top: 120px;
    margin-left: 99px;
    width: 132px;
    height: 13px;
    color: #6c6c6c;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;

    letter-spacing: 1.8px;
}

.footer__adress {
    margin-top: 24px;
    margin-left: 97px;
    color: #212121;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
}

.footer__telefon {
    margin-top: 24px;
    margin-left: 97px;
    color: #212121;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
}

.footer__info {
    width: 422px;
    margin-right: 50px;
    margin-bottom: 15px;

}

.footer__info_info {
    padding-top: 65px;
    margin-left: 78px;
    display: flex;
    width: 237px;
    height: 13px;
    color: #6c6c6c;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;

    letter-spacing: 1.8px;

}

.footer__all {
    margin-left: 78px;
    margin-top: 25px;
    width: 132px;
    height: 62px;
    color: #212121;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;

    letter-spacing: 0.7px;
}

.footer__all_right {
    margin-left: 110px;
    margin-top: 25px;
    width: 132px;
    height: 62px;
    color: #212121;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;

    letter-spacing: 0.7px;


}

.footer_nav {
    display: flex;
}

.footer__all_link:active,
.footer__all_link:hover,
.footer__all_link {
    text-decoration: none;
    color: #212121;
}

.footer__intouch {
    padding-top: 120px;
    margin-left: 120px;
    margin-right: 105px;

}

.footer__intouch_h4 {
    color: #6c6c6c;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;

    letter-spacing: 1.8px;
}

.footer__intouch_subscribe {
    margin-top: 12px;
    color: #212121;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
}

.footer__copyright {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.email_img {
    margin-top: 26px;
    width: 340px;
    height: 48px;
}

.footer-first {
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.footer__copyright {
    margin-top: 30px;
    margin-left: 30px;
}

.copyright {
    color: #6c6c6c;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;

    letter-spacing: 0.6px;
    
}



.terms {
    color: #6c6c6c;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    margin-right: 50px;
}

.exploreall:hover,
.exploreall:active,
.exploreall {
    text-decoration: none;
    color: #212121;
}

.featured__item {
    width: 270px;
    height: 270px;
}

.featured_h3 {
    color: #212121;
    font-size: 22px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
}

.featured__p {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
}

.featured__item_content {
    border: 1px solid #9c9c9c;
    background-color: #ffffff;
    opacity: 0.9;
    height: 100%;
    padding: 32px;
    box-sizing: border-box;
    text-align: center;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.featured__goods {
    margin-bottom: 120px;
    padding-top: 120px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.featured__item:hover .featured__item_content {
    display: flex;
}

.trending__images_item img {
    margin: 2px;
}

.trending__images_item img:hover {
    border: 2px solid #333;
    margin: 0;
}

.button:hover {
    background-color: #f9f9f9;
}

.button:active {
    box-shadow: 0 0 5px 1px rgba(33, 33, 33, 0.35);
    position: relative;
    top: 2px;
}

.exclusive__button:hover {
    background-color: #f9f9f9;
}

.exclusive__button:active {
    box-shadow: 0 0 5px 1px rgba(33, 33, 33, 0.35);
    position: relative;
    top: 2px;
}

input[placeholder] {
    padding: 0 15px;
    color: #6c6c6c;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
}



input.icon {
    background: url(../img/Ôç†.jpg) no-repeat 330px 15px;
    
    
    
    

}


.img__logo {
    width: 28px;
    height: 28px;
    
}

.social__link {
    margin-right: 5px;
}

.social__links {
    padding-right: 30px;
}

.galerie__small_img {
    border: 2px solid transparent;
}

.galerie__small_img:hover {
    border: 2px solid #333;
    
    
    
  
}

.menu__link_a {
    text-decoration: none;
}

.menu__link_a:link {
    color: #8c8c8c;
}

.menu__link_a:visited {
    color: #8c8c8c;
}

.menu__link_a:hover {
    color: #212121;
    font-weight: 700;
    letter-spacing: 1.4px;
    
}